

.wrapper{
    display: flex;
    
}

.lead, form,.bottom_info{
    padding-left: 40px;  
}

.aside_part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 45vw;
    background-image: url('./images/parrot.jpg');
    background-size: cover;
}

h1{
    color: #fdfdfd;
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    font-size: 80px;
}

main{
    width: 55vw;
    background-color: #f7f7f7;
    
}

.form-control{
    width: 300px;
}
form{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.field{
    display: flex;
    gap: 100px;

}



.lead{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 70px;
    
}

.btn{
    margin-left: 40px;
}
