@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');


.wrapper {
  display: flex;
}

.lead,
form,
.bottom_info {
  padding-left: 40px;
}

.aside_part {
  position: relative;
  height: 100vh;
  width: 35vw;
  /* picture by Rohan Gupta */
  background-image: url('./images/parrot.jpg');
  background-size: cover;
  
}
.copyright{
    text-align: center;
    position: relative;
    top: 700px;
    color: #f2f0f0c1;
}
.logo {
  height: 90px;
}
h1 {
  font-family: Yesteryear, sans-serif;
  position: absolute;
  top: 40px;
  color: aquamarine;
  text-align: center;
  height: 110px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 80px;
  
}

main {
  width: 65vw;
  background-color: #a9b9cf;
}
h2{
    width: 200px;
 
   font-weight: bold;
}


.form-control {
  width: 300px;
}
form {
  background-color: rgb(133, 160, 190);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.field {
  display: flex;
  gap: 100px;
}
.form-control{
    background-color: #a9b9cf ;
}
.form-control:focus{
    background-color: aquamarine;
}
.lead {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 70px;
}

.btn {
  margin-left: 40px;
  color: rgb(8, 8, 8);
}

.bottom_info {
  font-weight: bold;
  margin-top: 10px;
}
